spring:
  application:
    name: notification-service
  r2dbc:
    url: r2dbc:postgresql://notification-db:5432/notification-db-rx
    username: postgres
    password: postgres
  flyway:
    enabled: true
    url: jdbc:postgresql://notification-db:5432/notification-db-rx
    user: postgres
    password: postgres

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics, prometheus
  endpoint:
    health:
      show-details: always
  metrics:
    distribution:
      percentiles-histogram:
        http.server.requests: true
      slo:
        "[http.server.requests]": 25ms,50ms,100ms,200ms,400ms,800ms
    tags:
      application: ${spring.application.name}
  prometheus:
    metrics:
      export:
        enabled: true