services:

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "5173:80"
    depends_on:
      - api-gateway
    networks:
      - stocknet

  company-db:
    image: postgres:16
    container_name: company-db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: company-info-db-rx
    networks:
      - stocknet

  news-db:
    image: postgres:16
    container_name: news-db
    restart: always
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: news-db-rx
    networks:
      - stocknet

#  historical-mongo:
#    image: mongo:6.0
#    container_name: historical-mongo
#    restart: always
#    ports:
#      - "27019:27017"
#    environment:
#      MONGO_INITDB_DATABASE: historical-db
#    volumes:
#      - historical_mongo_data:/data/db
#    networks:
#      - stocknet

  notification-db:
    image: postgres:16
    container_name: notification-db
    restart: always
    ports:
      - "5434:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: notification-db-rx
    networks:
      - stocknet

#  notifications-mongo:
#    image: mongo:6.0
#    container_name: notifications-mongo
#    restart: always
#    ports:
#      - "27020:27017"
#    environment:
#      MONGO_INITDB_DATABASE: notifications_db
#    volumes:
#      - notifications_mongo_data:/data/db
#    networks:
#      - stocknet

  redis-currency:
    image: redis:latest
    container_name: redis-currency
    restart: always
    ports:
      - "6380:6379"
    networks:
      - stocknet

  redis-company:
    image: redis:latest
    container_name: redis-company
    restart: always
    ports:
      - "6381:6379"
    networks:
      - stocknet

  currency-service:
    build:
      context: ./currency-service
    container_name: currency-service
    ports:
      - "8083:8080"
    depends_on:
      - redis-currency
    environment:
      SPRING_REDIS_HOST: redis-currency
      SPRING_PROFILES_ACTIVE: mock
    networks:
      - stocknet

  news-service:
    build:
      context: ./news-service
    container_name: news-service
    ports:
      - "8082:8080"
    depends_on:
      - news-db
    environment:
      SPRING_R2DBC_URL: r2dbc:postgresql://news-db:5432/news-db-rx
      SPRING_R2DBC_USERNAME: postgres
      SPRING_R2DBC_PASSWORD: postgres
      POLYGON_API_KEY: V4_aPjfLf3uRm1v8EO3SRFvJfOM4WtDp
      SPRING_PROFILES_ACTIVE: mock
    networks:
      - stocknet

  company-info-service:
    build:
      context: ./company-info-service
    container_name: company-info-service
    ports:
      - "8081:8080"
    depends_on:
      - company-db
      - redis-company
    environment:
      SPRING_R2DBC_URL: r2dbc:postgresql://company-db:5432/company-info-db-rx
      SPRING_R2DBC_USERNAME: postgres
      SPRING_R2DBC_PASSWORD: postgres
      SPRING_REDIS_HOST: redis-company
      POLYGON_API_KEY: V4_aPjfLf3uRm1v8EO3SRFvJfOM4WtDp
      SPRING_PROFILES_ACTIVE: mock
    networks:
      - stocknet

  historical-service:
    build:
      context: ./historical-service
    container_name: historical-service
    ports:
      - "8084:8080"
    environment:
      SPRING_DATA_MONGODB_HOST: historical-mongo
      SPRING_DATA_MONGODB_PORT: 27017
      SPRING_DATA_MONGODB_DATABASE: historical-db
      POLYGON_API_KEY: V4_aPjfLf3uRm1v8EO3SRFvJfOM4WtDp
      SPRING_PROFILES_ACTIVE: mock
    networks:
      - stocknet

  notification-service:
    build:
      context: ./notification-service
    container_name: notification-service
    ports:
      - "8086:8080"
    depends_on:
      - notification-db
    environment:
      SPRING_R2DBC_URL: r2dbc:postgresql://notification-db:5432/notification-db-rx
      SPRING_R2DBC_USERNAME: postgres
      SPRING_R2DBC_PASSWORD: postgres
    networks:
      - stocknet

  stocks-service:
    build:
      context: ./stocks-service
    container_name: stocks-service
    ports:
      - "8085:8080"
    depends_on:
      - historical-service
    environment:
      POLYGON_API_KEY: V4_aPjfLf3uRm1v8EO3SRFvJfOM4WtDp
      SPRING_PROFILES_ACTIVE: ws-mock
      STOCKS_WS_MOCK: "true"
      MOCK_WS_PERIOD_MS: "10000"
    networks:
      - stocknet

  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    ports:
      - "8080:8080"
    depends_on:
      - company-info-service
      - news-service
      - currency-service
      - historical-service
      - stocks-service
    networks:
      - stocknet
  
  load-tests:
    image: gradle:8.14.1-jdk17
    profiles: [ "tests" ]
    working_dir: /work
    user: "${UID}:${GID}"
    volumes:
      - ./load-tests:/work
    depends_on:
      - api-gateway
    sysctls:
      net.ipv4.ip_local_port_range: "10000 65535"
      net.ipv4.tcp_tw_reuse: "1"
    ulimits:
      nofile:
        soft: 1048576
        hard: 1048576
    environment:
      BASE_URL: http://api-gateway:8080
      WS_BASE_URL: ws://api-gateway:8080
      START_CONC: "100"
      TARGET_CONC: "1600"
      RAMP_MIN: "5"
      HOLD_MIN: "60"
      RAMPDOWN_SEC: "0"
    command: >
      ./gradlew gatlingRun
      -Dgatling.simulationClass=example.MasterRouteSimulation
      -DWS_BASE_URL=ws://api-gateway:8080
      -DBASE_URL=http://api-gateway:8080
    networks:
      - stocknet
  
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    restart: unless-stopped
    depends_on:
      - api-gateway
      - company-info-service
      - currency-service
      - historical-service
      - news-service
      - notification-service
    networks:
      - stocknet

  grafana:
    image: grafana/grafana
    container_name: grafana
    depends_on:
      - prometheus
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_SERVER_ROOT_URL=http://localhost:3000
    restart: unless-stopped
    volumes:
      - grafana-data:/var/lib/grafana
    networks:
      - stocknet

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    privileged: true
    command:
      - --housekeeping_interval=10s
      - --store_container_labels=true
      - --docker_only=true
      - --event_storage_event_limit=default=0
      - --event_storage_age_limit=default=0
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /mnt/wsl/docker-desktop-data/data/docker:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
    depends_on:
      - prometheus
    restart: unless-stopped
    devices:
      - /dev/kmsg
    ports:
      - "8090:8080"
    networks:
      - stocknet

  wiremock:
    container_name: wiremock
    profiles: [ "tests" ]
    image: wiremock/wiremock:latest
    entrypoint: [ "/docker-entrypoint.sh",
                  "--global-response-templating",
                  "--verbose",
                  "--disable-gzip" ]
    volumes:
      - ./mocks/wiremock:/home/wiremock
    ports:
      - "8089:8080"
    networks:
      - stocknet

volumes:
  grafana-data:

networks:
  stocknet:
    driver: bridge