external:
  polygon:
    base-url: https://api.polygon.io

management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics, prometheus
  endpoint:
    health:
      show-details: always
  metrics:
    distribution:
      percentiles-histogram:
        http.server.requests: true
      slo:
        "[http.server.requests]": 25ms,50ms,100ms,200ms,400ms,800ms
    tags:
      application: ${spring.application.name}
  prometheus:
    metrics:
      export:
        enabled: true

logging:
  level:
    reactor.netty.http.client: DEBUG
    org.springframework.web.reactive.function.client.ExchangeFunctions: DEBUG

polygon:
  api:
    key: ${POLYGON_API_KEY}

spring:
  application:
    name: news-service
  r2dbc:
    url: r2dbc:postgresql://news-db:5432/news-db-rx
    username: postgres
    password: postgres
  flyway:
    enabled: true
    url: jdbc:postgresql://news-db:5432/news-db-rx
    user: postgres
    password: postgres
server:
  port: 8080

resilience4j:
  circuitbreaker:
    instances:
      polygonNewsCB:
        sliding-window-type: TIME_BASED
        sliding-window-size: 60
        minimum-number-of-calls: 50
        slow-call-duration-threshold: 2s
        slow-call-rate-threshold: 70
        failure-rate-threshold: 50
        wait-duration-in-open-state: 10s
        permitted-number-of-calls-in-half-open-state: 5
        record-exceptions:
          - org.springframework.web.reactive.function.client.WebClientRequestException
          - org.springframework.web.reactive.function.client.WebClientResponseException
          - java.util.concurrent.TimeoutException
          - io.netty.channel.ConnectTimeoutException
          - reactor.netty.http.client.PrematureCloseException

  retry:
    instances:
      newsReadSafe:
        max-attempts: 1
        wait-duration: 1ms
        enable-exponential-backoff: true
        retry-exceptions:
          - org.springframework.web.reactive.function.client.WebClientRequestException
          - java.util.concurrent.TimeoutException
          - io.netty.channel.ConnectTimeoutException
          - reactor.netty.http.client.PrematureCloseException

  bulkhead:
    instances:
      newsRead:
        max-concurrent-calls: 64
        max-wait-duration: 2s
      newsFetch:
        max-concurrent-calls: 20
        max-wait-duration: 500ms