management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics, prometheus
  endpoint:
    health:
      show-details: always
  metrics:
    distribution:
      percentiles-histogram:
        http.server.requests: true
      slo:
        "[http.server.requests]": 25ms,50ms,100ms,200ms,400ms,800ms
    tags:
      application: ${spring.application.name}
  prometheus:
    metrics:
      export:
        enabled: true

server:
  port: 8080
  address: 0.0.0.0

polygon:
  api:
    key: V4_aPjfLf3uRm1v8EO3SRFvJfOM4WtDp
  ws:
    url: wss://delayed.polygon.io/stocks

logging:
  level:
    daniel.nuud.stocksservice: DEBUG
    org.springframework.web.reactive.socket: DEBUG


alerts:
  move10:
    threshold: 0.10