polygon:
  api:
    key: ${POLYGON_API_KEY}

external:
  polygon:
    base-url: https://api.polygon.io

management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics, prometheus
  endpoint:
    health:
      show-details: always
  metrics:
    distribution:
      percentiles-histogram:
        http.server.requests: true
      slo:
        "[http.server.requests]": 25ms,50ms,100ms,200ms,400ms,800ms
    tags:
      application: ${spring.application.name}
  prometheus:
    metrics:
      export:
        enabled: true

#spring:
#  data:
#    mongodb:
#      database: historical-db
#      host: historical-mongo
#      port: 27017
server:
  port: 8080

logging:
  level:
    org.springframework.web.reactive.function.client: TRACE
    reactor.netty.http.client: DEBUG

resilience4j:
  circuitbreaker:
    instances:
      polygonHistCB:
        registerHealthIndicator: true
        slidingWindowType: COUNT_BASED
        slidingWindowSize: 50
        minimumNumberOfCalls: 20
        failureRateThreshold: 50
        slowCallDurationThreshold: 5s
        slowCallRateThreshold: 70
        waitDurationInOpenState: 45s
        permittedNumberOfCallsInHalfOpenState: 5
        automaticTransitionFromOpenToHalfOpenEnabled: true
  retry:
    instances:
      polygonHistRetry:
        maxAttempts: 2
        waitDuration: 300ms
        retryExceptions:
          - java.io.IOException
          - org.springframework.web.client.ResourceAccessException
          - org.springframework.web.client.HttpServerErrorException
        ignoreExceptions:
          - io.github.resilience4j.circuitbreaker.CallNotPermittedException
          - org.springframework.web.client.HttpClientErrorException
  ratelimiter:
    instances:
      polygonHistRL:
        limitForPeriod: 4
        limitRefreshPeriod: 1s
        timeoutDuration: 0
  bulkhead:
    instances:
      polygonHistBH:
        maxConcurrentCalls: 12
        maxWaitDuration: 0