external:
  polygon:
    base-url: https://api.polygon.io

polygon:
  api:
    key: ${POLYGON_API_KEY}

management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics, prometheus
  endpoint:
    health:
      show-details: always
  metrics:
    distribution:
      percentiles-histogram:
        http.server.requests: true
      slo:
        "[http.server.requests]": 25ms,50ms,100ms,200ms,400ms,800ms
    tags:
      application: ${spring.application.name}

spring:
  r2dbc:
    url: r2dbc:postgresql://company-db:5432/company-info-db-rx
    username: postgres
    password: postgres
  flyway:
    enabled: true
    url: jdbc:postgresql://company-db:5432/company-info-db-rx
    user: postgres
    password: postgres
  cache:
    type: redis
    cache-names: companyByTicker,tickerSuggest
    redis:
      time-to-live: 1h
      use-key-prefix: true
      key-prefix: "cis:"
      cache-null-values: false
server:
  port: 8080

logging:
  level:
    org.springframework.data.r2dbc: DEBUG
    reactor.netty.http.client: DEBUG
    org.springframework.web.reactive.function.client.ExchangeFunctions: DEBUG


resilience4j:
  circuitbreaker:
    instances:
      polygonCompanyCB:
        sliding-window-type: TIME_BASED
        sliding-window-size: 60
        minimum-number-of-calls: 50
        slow-call-duration-threshold: 2s
        slow-call-rate-threshold: 70
        failure-rate-threshold: 50
        wait-duration-in-open-state: 10s
        permitted-number-of-calls-in-half-open-state: 5
        record-exceptions:
          - org.springframework.web.reactive.function.client.WebClientRequestException
          - org.springframework.web.reactive.function.client.WebClientResponseException
          - java.util.concurrent.TimeoutException
          - io.netty.channel.ConnectTimeoutException
          - reactor.netty.http.client.PrematureCloseException
          - java.lang.IllegalStateException
        ignore-exceptions:

  retry:
    instances:
      readSafe:
        max-attempts: 2
        wait-duration: 150ms
        enable-exponential-backoff: true
        retry-exceptions:
          - org.springframework.web.reactive.function.client.WebClientRequestException
          - java.util.concurrent.TimeoutException
          - io.netty.channel.ConnectTimeoutException
          - reactor.netty.http.client.PrematureCloseException
          - java.lang.IllegalStateException
        ignore-exceptions:
          - org.springframework.web.reactive.function.client.WebClientResponseException

  bulkhead:
    instances:
      companyRead:
        max-concurrent-calls: 128
        max-wait-duration:
          seconds: 0
      companyWrite:
        max-concurrent-calls: 30
        max-wait-duration:
          seconds: 0
      companySearch:
        max-concurrent-calls: 256
        max-wait-duration:
          seconds: 0